aiogram
aiogram-dialog
SQLAlchemy~=2.0.30
asyncpg==0.29.0
uvicorn==0.29.0
fastapi==0.112.1
openai==1.57.0
httpx==0.28.1
tenacity==9.1.2
PyYAML==6.0.2
ujson==5.10.0
pytz==2025.2
hiredis==3.2.1
redis==6.2.0
sulguk

opentelemetry-api==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
opentelemetry-exporter-otlp-proto-grpc==1.33.1
opentelemetry-proto==1.33.1